
* {
    margin: 0;
    padding: 0;
    border: none;

}
header
{
    height: 4.7rem;
}
nav, nav ul
{
    float: right;
}
body {
    font-family: Arial;
    font-weight: 300;
    padding: 0%;
    margin: 0%;
    color: #3b3a37;
}
/*headings and logos*/
h1, h2 {
    font-family: sans-serif, 'Times New Roman';
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #D2BE9A;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 1.9rem;
    text-decoration: none;
    font-weight: bold;
    
}
#logo:visited{
    color: #d2be9a;
}
#menu {
    font-size: 110%;
    letter-spacing: 0.25rem;
}
#menu , #logo {
    line-height: 4.7rem;

}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.9rem;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 0.01rem solid #d2be9a;
}
.active {
    border-bottom: 0.01rem solid #d2be9a;
}
#cookie-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}
#cover-text, #cover-text h2 {
    color: #453E30;
}
#cookie-image {
    height: 37.5rem;
    width: 100%;
    background: url('../css/images/banner.jpg') no-repeat center center;
    /*animates zoom effect on loading page */
    animation: cookie-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/*creates the level of zoom for cookie image */
@keyframes cookie-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#cover-text {
    font-size: 130%;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    width: 12.5rem;
    height: 6.25rem;

    padding-top: 2.5rem;
    padding-left: 0.6rem;

    background-color: #EBD8B3;

    bottom: 6.25rem;
    right: 18.75rem;
    position: absolute;
}
/* Types of cookies*/
#type-cookies {
    height: 37.5rem;
}
#left-about {
    padding-top: 1.9rem;
    width: 33%;
    float: left;
    
}
#right-about {
    padding-top: 1.9rem;
    width: 33%;
    float: right;
    
}
#center-about {
    
    width: 33%;
    margin: 0 auto;
    
}
hr {
    border-top: 0.06rem solid #2E2920;
    width: 100%;
    margin: 0.3rem;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 1.25rem;
    clear: both;
    margin-bottom: 3.1rem;
}
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 1.25rem;
    clear: both;
    margin-bottom: 3.1rem;
}
.right-about-heading h2 {
    text-align: left;

}
.right-about-heading p{
    text-align: left;
}
#welcome {
    text-align: center;
    margin: 1.25rem 0;
    font-size: 280%;
}
#circle-container {
    width: 19rem;
    height: 19rem;
    padding: 1.9rem;
    border-style: solid;
    border-color: #ccc;
    border-width: 0.06rem;
    border-radius: 50%;
    margin: 0 auto;
}
#cirlce-cover-bg {
    background: url('../css/images/cookie-center-image.jpg') no-repeat center center;
     height: 100%;
     border-radius: 50%;

}
/* Branches information*/

#branches {
    background: url('../css/images/branches.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}
#branches div {
    color: #9F978A;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 19rem;
    float: left;
    padding-top: 1.9rem;
    text-align: center;
    border: 0.12rem solid white;
    box-sizing: border-box;


}
#branches h2 {
    color: #9F978A;
}
/* Footer*/

footer {
    margin-top: 2.2rem;
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    color: #3a3a3a;
}
/* Gellery */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    
}
#photos > img {
    width: 100%;
}
/* Media queries */

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 18.75rem) {
    #cookie-image {
        width :65%;
        height: 75rem;
        margin: 0 auto;
    }
    #welcome {
        padding: 1.9rem 0;
        margin: 0;
    }
    #left-about , #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    #branches > div {
        width: 100%;
        clear:both;
        height: 9.3rem;
        padding: 0;
    }
    hr {
        display: none;
    }
}
/* For medium screen size from 950px wide and down */
@media screen and (max-width: 59rem) {

    #menu {
        clear: left;
        float: left;
        margin-left: 1.9rem;
        margin-bottom: 1.25rem;
        line-height: 1.6rem;
    }
    #cover-text {
        left: 0;

    }
    #cookie-image {
        width: 90%;
        height: 75rem;
        margin: 0 auto;
    }
    .left-about-heading .right-about-heading{
        width: inherit;

    }
    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;

    }
    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 1.25rem;

    }
    #photos {
        column-count: 4;
    }
}
/* for small screen sizes 800px and down */
@media screen and (max-width: 50rem) {
    #photos {
        column-count: 2;
    }
}
.story {
    color:#736750;
    text-align: center;

}
.story p {
    color:#736750;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    max-width: 31.25rem;
    margin: 0 auto;
}
.story h2 {
    text-align: center;
    margin: 4.3rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: solid underline;
}
.story-img {
    background: url('../css/images/story.jpg') no-repeat center center;
    height: 26.1rem;
    width: 100%;
    margin-bottom: 2.1rem;
}
     
#gallerywrapper {
    width:40rem;
    height:28.1rem;
    margin:0 auto;
    position:relative;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: solid;
    font-size: xx-large;
} 

#gallerywrapper #gallery {
    position:absolute;
    left:0;
    top:0;
    height:28.1rem;
    width:40rem;
    overflow:hidden;
    text-align:center;
} 

#gallerywrapper #gallery div {
    width:40rem; height:56.25rem; 
    padding-top:0.6rem; 
    position:relative;
} 

#gallerywrapper #gallery div img {
    clear:both; 
    display:block; 
    margin:0 auto; 
    border:0;
} 

#gallerywrapper #gallery div h3 {
    padding:0.6rem 0 0 0; 
    margin:0; 
    font-size:1.1rem;
} 

#gallerywrapper #gallery div p {
    padding:0.3rem 0; 
    margin:0; 
    font-size: large; 
    text-decoration: solid;
    line-height:1.1rem;
} 

#gallery .previous{ 
    display:inline;
    float:left;
    margin-left:5rem;
    text-decoration:none;
} 

#gallery .next{ 
    display:inline;
    float:right;
    margin-right:5rem;
    text-decoration:none;
}
.video-cookies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}